/**** Clases ****/
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centerX {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.centerY {
    position: relative;
    top: -50%;
    transform: translateY(-50%);
}

asd {
    display: none !important; 
}

html, body, main {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    user-select: none;
}